@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v11/XRXV3I6Li01BKofINeaE.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v7/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7Mw.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v8/N0bX2SlFPv1weGeLZDtgJv7X.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(https://fonts.gstatic.com/s/firasans/v10/va9E4kDNxMZdWfMOD5Vvl4jO.ttf) format('truetype');
}
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  font-family: "Fira Sans", Arial, helvetica, sans-serif;
  font-size: 1em;
  color: #666;
}
html body {
  font-size: 100%;
  max-width: 36rem;
  margin: 0px auto;
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
html p,
html ul,
html ol {
  margin-bottom: 1rem;
}
html a {
  color: #66f;
}
html pre {
  font-family: "Fira Mono", 'Courier New', Courier, monospace;
  padding: 1rem;
  background-color: #eee;
}
header {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: top right;
}
main p.courselink {
  text-align: right;
}
footer {
  font-size: 0.9rem;
  border-top: solid 1px;
  margin-top: 1rem;
}
