//	meta information
//	filename: css/styles.less
//	description: styles for exams
//	version: v0.0.1
//	author: Michael Wronna, Konstanz
//	created: 2019-10-26
//	modified: 2019-10-28

// imports

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Code|Fira+Sans&display=swap');

// variables

@widthMain: 36rem;
@colorText: #666;
@colorMain: #66f;
@marginBox: 1rem;

// reset

*, ::before, ::after {
	box-sizing: border-box;
}

// design

html {
	font-family: "Fira Sans", Arial, helvetica, sans-serif;
	font-size: 1em;
	color: @colorText;
	body {
		font-size: 100%;
		max-width: @widthMain;
		margin: 0px auto;
	}
	h1, h2, h3, h4, h5, h6, p, ul, ol {
		margin-bottom: @marginBox;
	}
	a {
		color: @colorMain;
	}
	pre {
		font-family: "Fira Mono", 'Courier New', Courier, monospace;
		padding: 1rem;
		background-color: #eee;
	}
}

// header

header {
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: 2rem;
	background-position: top right;
}

// main

main {
	p.courselink {
		text-align: right;
	}
}

// footer

footer {
	font-size: 0.9rem;
	border-top: solid 1px;
	margin-top: @marginBox;
}

// hacks

