*,
::before,
::after {
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-family: Montserrat, Arial, helvetica, sans-serif;
  color: #666;
}
html body {
  max-width: 66rem;
  min-height: 100vh;
  margin: 0px auto;
  position: relative;
  display: grid;
  gap: 1rem;
  grid-template-columns: 12rem 1fr;
  grid-template-areas: "header header" "nav main" "footer footer";
  grid-template-rows: auto 1fr auto;
}
html a,
html a:visited {
  color: #090;
}
html a:hover,
html a:visited:hover {
  color: #666;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
html h2,
html h3,
html ul,
html li,
html p {
  margin-bottom: 0.5rem;
}
html ul {
  padding-left: 1rem;
}
html form label {
  display: inline-block;
  width: 9rem;
}
html form label::after {
  content: ':';
}
html form input {
  font-family: Montserrat, Arial, helvetica, sans-serif;
  font-size: 0.9rem;
  color: #666;
  padding: 0.2rem 0.4rem;
  border: solid 1px #090;
  border-radius: 0.4rem;
  margin-bottom: 0.5rem;
}
html form input[type=submit] {
  font-weight: bold;
  padding: 0.2rem 0.4rem;
  color: #fff;
  background-color: #090;
  cursor: pointer;
}
html form input[type=submit]:hover {
  background-color: #666;
  border-color: #666;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
header {
  grid-area: header;
  margin-top: 1rem;
  background-image: url(../../img/logo.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 2rem;
}
header h1 a {
  text-decoration: none;
}
nav {
  grid-area: nav;
}
nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
nav ul > li {
  margin-bottom: 0.5rem;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  padding-top: 0.2rem;
  border-top: solid 2px #090;
}
*[class^=link_]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.5rem;
}
.link_home::before {
  content: "\f4b8";
}
.link_register::before {
  content: "\f234";
}
.link_login::before {
  content: "\f2f6";
}
.link_profile::before {
  content: "\f007";
}
.link_logout::before {
  content: "\f2f5";
}
.link_courses::before {
  content: "\f02d";
}
.link_course::before {
  content: "\f518";
}
