//	meta information
//	filename: skins/css/styles.less
//	description: default skin style for exams
//	version: v0.0.2
//	author: Michael Wronna, Konstanz
//	created: 2019-11-06
//	modified: 2019-11-08

// variables

@widthMain: 66rem;
@widthCols: 12rem;
@colorText: #666;
@colorMain: #090;
@marginMain: 1rem;
@marginSmall: 0.5rem;

// reset

*, ::before, ::after {
	box-sizing: content-box;
	margin: 0px;
	padding: 0px;
}

// design

html {
	font-family: Montserrat, Arial, helvetica, sans-serif;
	color: @colorText;
	body {
		max-width: @widthMain;
		min-height: 100vh;
		margin: 0px auto;
		position: relative; // for #status
		display: grid;
		gap: @marginMain;
		grid-template-columns: @widthCols 1fr;
		grid-template-areas: "header header" "nav main" "footer footer";
		grid-template-rows: auto 1fr auto;
		& > * { // children
			// border: solid 1px #eee; // debug
		}
	}
	a, a:visited {
		color: @colorMain;
		&:hover {
			color: @colorText;
			text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
		}
	}
	h2, h3, ul, li, p {
		margin-bottom: @marginSmall;
	}
	ul {
		padding-left: @marginMain;
	}
	form {
		label {
			display: inline-block;
			width: 9rem;
			// font-weight: bold;
			&::after {
				content: ':'
			}
		}
		input {
			font-family: Montserrat, Arial, helvetica, sans-serif;
			font-size: 0.9rem;
			color: @colorText;
			padding: 0.2rem 0.4rem;
			border: solid 1px @colorMain;
			border-radius: 0.4rem;
			margin-bottom: @marginSmall;
		}
		input[type=submit] {
			font-weight: bold;
			padding: 0.2rem 0.4rem;
			color: #fff;
			background-color: @colorMain;
			cursor: pointer;
			&:hover {
				background-color: @colorText;
				border-color: @colorText;
				box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
			}
		}
		
	}
}


// header

header {
	grid-area: header;
	margin-top: @marginMain;
	background-image: url(../../img/logo.png);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 2rem;
	h1 a {
		text-decoration: none;
	}
}

// nav
nav {
	grid-area: nav;
	ul {
		margin: 0px;
		padding: 0px;
		list-style-type: none; 
	}
	ul > li {
		margin-bottom: 0.5rem;
	}
}

// main

main {
	grid-area: main;
}

// aside

aside {
	grid-area: aside;
}

// footer

footer {
	grid-area: footer;
	margin-bottom: @marginMain;
	font-size: 0.9rem;
	padding-top: 0.2rem;
	border-top: solid 2px @colorMain;
}

// font awesome icons

*[class^=link_]::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	margin-right: @marginSmall;
}

// navig icons
.link_home::before { content: "\f4b8"; } // fa-couch
// users icons
.link_register::before { content: "\f234"; } // fa-user-plus
.link_login::before { content: "\f2f6"; } // fa-sign-in-alt
.link_profile::before { content: "\f007"; } // fa-user
.link_logout::before { content: "\f2f5"; } // fa-sign-out-alt
// course icons
.link_courses::before { content: "\f02d"; } // fa-book
.link_course::before { content: "\f518"; } // fa-book-open

// hacks

