//	meta information
//	filename: skins/css/styles.less
//	description: default skin style for exams
//	version: v0.0.2
//	author: Michael Wronna, Konstanz
//	created: 2019-11-06
//	modified: 2019-11-08

// variables

@widthMain: 66rem;
@widthCols: 12rem;
@colorText: #666;
@colorMain: #66f;
@marginMain: 1rem;
@marginSmall: 0.5rem;

// reset

*, ::before, ::after {
	box-sizing: content-box;
	margin: 0px;
	padding: 0px;
}

// design

html {
	font-family: Montserrat, Arial, helvetica, sans-serif;
	color: @colorText;
	body {
		max-width: @widthMain;
		min-height: 100vh;
		margin: 0px auto;
		position: relative; // for #status
		display: grid;
		gap: @marginMain;
		grid-template-columns: @widthCols 1fr;
		grid-template-areas: "header header" "nav main" "footer footer";
		grid-template-rows: auto 1fr auto;
		& > * { // children
			border: solid 1px #ccc; // debug
		}
	}
	a, a:visited {
		color: @colorMain;
		&:hover {
			color: @colorText;
		}
	}
	h2, h3, p {
		margin-bottom: @marginSmall;
	}
	form {
		label {
			display: inline-block;
			width: 9rem;
			// font-weight: bold;
			&::after {
				content: ':'
			}
		}
		input {
			margin-bottom: @marginSmall;
		}
	}
}

// header

header {
	grid-area: header;
	margin-top: @marginMain;
	background-image: url(../../img/logo.png);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 2rem;
}

// nav
nav {
	grid-area: nav;
	ul {
		margin: 0px;
		padding: 0px;
		list-style-type: none; 
	}
	ul > li {
		display: inline-block;
		margin-bottom: 0.5rem;
	}
}

// main

main {
	grid-area: main;
}

// aside

aside {
	grid-area: aside;
}

// footer

footer {
	grid-area: footer;
	margin-bottom: @marginMain;
	font-size: 0.9rem;
	border-top: solid 1px;
}

// hacks

