*,
::before,
::after {
  box-sizing: content-box;
}
html {
  font-family: Arial, helvetica, sans-serif;
  font-size: 1em;
  color: #fff;
  background-color: #666;
}
html body {
  font-size: 100%;
  width: 36rem;
  margin: 0px auto;
}
footer {
  font-size: 0.9rem;
  border-top: solid 1px;
  margin-top: 1rem;
}
